<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
	<!-- Vertical Navbar -->
	<nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
		id="navbarVertical">
		<div class="container-fluid">
			<!-- Toggler --> <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
				data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
				aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button> <!-- Brand --> <a
				class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="#"> <img
					src="https://preview.webpixels.io/web/img/logos/clever-primary.svg" alt="..."> </a>
			<!-- User menu (mobile) -->
			<div class="navbar-user d-lg-none">
				<!-- Dropdown -->
				<div class="dropdown">
					<!-- Toggle --> <a href="#" id="sidebarAvatar" role="button" data-bs-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<div class="avatar-parent-child"> <img alt="Image Placeholder"
								src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
								class="avatar avatar- rounded-circle"> <span
								class="avatar-child avatar-badge bg-success"></span> </div>
					</a> <!-- Menu -->
					<div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarAvatar"> <a href="#"
							class="dropdown-item">Profile</a> <a href="#" class="dropdown-item">Settings</a> <a href="#"
							class="dropdown-item">Billing</a>
						<hr class="dropdown-divider"> <a href="#" class="dropdown-item">Logout</a>
					</div>
				</div>
			</div> <!-- Collapse -->
			<div class="collapse navbar-collapse" id="sidebarCollapse">
				<!-- Navigation -->
				<ul class="navbar-nav">
					<li class="nav-item"> 
						<a class="nav-link" href="#"> <i class="bi bi-house"></i> Xem thông tin nhân viên </a> 
						</li>
					<li class="nav-item"> 
						<a class="nav-link" href="#"> <i class="bi bi-bar-chart"></i> Lập bảng lương </a>
					</li>
					<li class="nav-item"> 
						<a class="nav-link" href="#"> <i class="bi bi-chat"></i> 
							Ứng lương 
						</a> 
					</li>
					<li class="nav-item"> 
						<a class="nav-link" href="#"> <i class="bi bi-bookmarks"></i> Khiếu nại </a>
					</li>
					<li class="nav-item"> 
						<a class="nav-link" href="#"> <i class="bi bi-people"></i> Tính lương </a> 
					</li>
					<li class="nav-item"> 
						<a class="nav-link" href="#"> <i class="bi bi-person-square"></i> Báo cáo thống kê </a>
					</li>
					<li class="nav-item"> 
						<a class="nav-link" href="#"> <i class="bi bi-box-arrow-left"></i> Logout </a>
					</li>
				</ul> <!-- Divider -->
			</div>
		</div>
	</nav> <!-- Main content -->
	<div class="h-screen flex-grow-1 overflow-y-lg-auto">
		<!-- Header -->
		<main class="py-6 bg-surface-secondary">
			<div class="container-fluid">
				<!-- Card stats -->
				<div class="g-6 mb-6 w-100 search-container">
					<div class="col-xl-12 col-sm-12 col-12">
						<div class="card shadow border-0 d-flex">
							{{!--@ INPUT SEARCH --}}
							<nav class="navbar navbar-light bg-light">
								<div class="container-fluid">
									<form class="d-flex">
										<input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
										<select class="form-select search-option" id="inputGroupSelect02">
											<option selected>Choose...</option>
											<option value="1">One</option>
											<option value="2">Two</option>
											<option value="3">Three</option>
										</select>
										<button class="btn btn-outline-success search-btn" type="submit">Search</button>
									</form>
								</div>
							</nav>
							{{!--@ DROPDOWN --}}
							
						</div>
					</div>					
					
				</div>
				<div class="card shadow border-0 mb-7">
					<div class="card-header">
						<h5 class="mb-0">THÔNG TIN NHÂN VIÊN</h5>
					</div>
					<div class="table-responsive">
						<table class="table table-hover table-nowrap">
							<thead class="thead-light">
								<tr>
									<th scope="col">mã nhân viên</th>
									<th scope="col">họ tên</th>
									<th scope="col">chức vụ</th>
									<th scope="col">phòng</th>
									<th scope="col">giới tính</th>
									<th scope="col">số diện thoại</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td> <img alt="..."
											src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
											class="avatar avatar-sm rounded-circle me-2"> <a
											class="text-heading font-semibold" href="#"> Robert Fox </a> </td>
									<td> Feb 15, 2021 </td>
									<td> 
										<img alt="..."
											src="https://preview.webpixels.io/web/img/other/logos/logo-1.png"
											class="avatar avatar-xs rounded-circle me-2"> <a
											class="text-heading font-semibold" href="#"> Dribbble </a> 
									</td>
									<td> $3.500 </td>
									<td> 
										<span class="badge badge-lg badge-dot">
											<i class="bg-success"></i>
											Scheduled
										</span> 
									</td>
									<td> 
										<span class="badge badge-lg badge-dot">
											<i class="bg-success"></i>
											Scheduled2
										</span> 
									</td>
									<td class="text-end"> <a href="#" class="btn btn-sm btn-neutral">View</a> <button
											type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
											<i class="bi bi-trash"></i> </button> </td>
								</tr>
								<tr>
									<td> <img alt="..."
											src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
											class="avatar avatar-sm rounded-circle me-2"> <a
											class="text-heading font-semibold" href="#"> Robert Fox </a> </td>
									<td> Feb 15, 2021 </td>
									<td> 
										<img alt="..."
											src="https://preview.webpixels.io/web/img/other/logos/logo-1.png"
											class="avatar avatar-xs rounded-circle me-2"> <a
											class="text-heading font-semibold" href="#"> Dribbble </a> 
									</td>
									<td> $3.500 </td>
									<td> 
										<span class="badge badge-lg badge-dot">
											<i class="bg-success"></i>
											Scheduled
										</span> 
									</td>
									<td> 
										<span class="badge badge-lg badge-dot">
											<i class="bg-success"></i>
											Scheduled2
										</span> 
									</td>
									<td class="text-end"> <a href="#" class="btn btn-sm btn-neutral">View</a> <button
											type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
											<i class="bi bi-trash"></i> </button> </td>
								</tr>
								<tr>
									<td> <img alt="..."
											src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
											class="avatar avatar-sm rounded-circle me-2"> <a
											class="text-heading font-semibold" href="#"> Robert Fox </a> </td>
									<td> Feb 15, 2021 </td>
									<td> 
										<img alt="..."
											src="https://preview.webpixels.io/web/img/other/logos/logo-1.png"
											class="avatar avatar-xs rounded-circle me-2"> <a
											class="text-heading font-semibold" href="#"> Dribbble </a> 
									</td>
									<td> $3.500 </td>
									<td> 
										<span class="badge badge-lg badge-dot">
											<i class="bg-success"></i>
											Scheduled
										</span> 
									</td>
									<td> 
										<span class="badge badge-lg badge-dot">
											<i class="bg-success"></i>
											Scheduled2
										</span> 
									</td>
									<td class="text-end"> <a href="#" class="btn btn-sm btn-neutral">View</a> <button
											type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
											<i class="bi bi-trash"></i> </button> </td>
								</tr>
								<tr>
									<td> <img alt="..."
											src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
											class="avatar avatar-sm rounded-circle me-2"> <a
											class="text-heading font-semibold" href="#"> Robert Fox </a> </td>
									<td> Feb 15, 2021 </td>
									<td> 
										<img alt="..."
											src="https://preview.webpixels.io/web/img/other/logos/logo-1.png"
											class="avatar avatar-xs rounded-circle me-2"> <a
											class="text-heading font-semibold" href="#"> Dribbble </a> 
									</td>
									<td> $3.500 </td>
									<td> 
										<span class="badge badge-lg badge-dot">
											<i class="bg-success"></i>
											Scheduled
										</span> 
									</td>
									<td> 
										<span class="badge badge-lg badge-dot">
											<i class="bg-success"></i>
											Scheduled2
										</span> 
									</td>
									<td class="text-end"> <a href="#" class="btn btn-sm btn-neutral">View</a> <button
											type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
											<i class="bi bi-trash"></i> </button> </td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card-footer border-0 py-5"> <span class="text-muted text-sm">Showing 10 items out of 250
							results found</span> </div>
				</div>
			</div>
		</main>
	</div>
</div>