<div class="container">
	<div class="d-flex flex-column ">
            <div class="d-flex justify-content-center">
				<a href="https://www.facebook.com/nguyenthidiemkieu227" class="bi bi-person-circle"></a>
				<a href="https://www.facebook.com/thien.1310" class="bi bi-person-circle"></a>
				<a href="https://www.facebook.com/ngoctien.tran.37669" class="bi bi-person-circle"></a>
				<a href="https://www.facebook.com/tkhoa79" class="bi bi-person-circle"></a>
				<a href="https://www.facebook.com/HuynhThanhHien2002" class="bi bi-person-circle"></a>
				<a href="https://www.facebook.com/profile.php?id=100010011547979" class="bi bi-person-circle"></a>
				<a href="https://www.facebook.com/tuilacauberatngoan" class="bi bi-person-circle"></a>
				<a href="https://www.facebook.com/profile.php?id=100023413783908" class="bi bi-person-circle"></a>
				<a href="https://www.facebook.com/phuong.phung.ne" class="bi bi-person-circle"></a>
		    </div>
			<div style="padding-top: 20px;">
				<p class="d-flex justify-content-center">Copy right © 2022 Group 1 62.CNTT-3 NTU</p>
			</div>
	</div>
</div>
<style>
    a {
        margin:0 10px;
		color:black;
    }
	.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
	}
</style>