.card {
    position: relative;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.text-end {
    text-align: left!important;
}
.single-item {

}


.test-modal {
    max-width: 1300px!important;
}

.thu-nho-luong{
    margin-left: 22px;
    margin-right: 30px;
}
.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 50px;
    line-height: 1;
    height: 10px;
    opacity: .75;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev,.slick-next {
    z-index: 999;
    top: 50%;
    position: absolute;
}


/* .slick-list {
    overflow: auto;
} */
.slick-next {
    right: 2;
}
.btnn{
    /* display: inline-block; */
    padding: 10px 16px;
    color: rgb(0, 0, 0);
    background-color: rgb(70, 255, 82);
    text-decoration: none;
    margin: 20px;
    border: 2px solid rgb(40, 200, 50);
    border-radius: 10px;  
}
.btn{
    border-radius: 50px;
    border: 1px solid #7b6bff;
    color: #7b6bff;
    margin: 10px;
    width: 15%;
    line-height: 2;
}
.color-btn:hover {
    background-color:#7b6bff;
}
.btnn:hover{
    /* border: 2px solid #ccc; */
    opacity:0.7;
    cursor: pointer;
}
.change{
    padding: 10px;
}
.modal-body{
    padding: 0 1.5rem;
}